@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
}
@theme {
  --font-poppins: "Poppins", sans-serif;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}

 